<div class="page-container">
        <section class="advantages about-advantages" data-test="advantages">
          <div class="sedona-advantages-text sedona-advantages-text-about">
            <h2 class="visually-hidden">Advantages</h2>
            <p class="advantages-about-sedona">ALMOST THE ENTIRE WORLD KNOWS THAT SEDONA, STRATEGICALLY SITUATED AT THE MOUTH OF SPECTACULAR OAK CREEK CANYON, IS A UNIQUE PLACE.</p>
            <p class="advantages-sedona-reasons">START WITH SCENERY THAT MAKES YOUR HEART LEAP. SEDONA NESTLES AMONG A GEOLOGICAL WONDERLAND.</p>
          </div>
          <ul class="advantages-item-list">
            <li class="advantages-item-small-place">
              <div class="advantage-item-text-container advantage-item-text-container-place">
              <h3 class="advantages-item-title advantages-item-title-place">small area</h3>
              <p class="advantages-item-text">All attractions are very close</p>
              </div>
            </li>
            <li class="advantages-item-beatiful-road">
              <div class="advantage-item-text-container advantage-item-text-container-road">
              <h3 class="advantages-item-title advantages-item-title-road">beautiful road</h3>
              <p class="advantages-item-text">Traveling to Sedona from Las Vegas is not boring at all!</p>
              </div>
            </li>
            <li class="advantages-item-less-tourists">
              <div class="advantage-item-text-container advantage-item-text-container-tourists">
              <h3 class="advantages-item-title advantages-item-title-tourists">Few tourists</h3>
              <p class="advantages-item-text">Most go to the Grand Canyon and crowd there</p>
              </div>
            </li>
            <li class="advantages-item-real-town">
              <div class="advantage-item-text-container">
              <h3 class="advantages-item-title advantages-item-title-town">real town</h3>
              <p class="advantages-item-text">Sedona is not an attraction for tourists, it has its own life</p>
              </div>
              <img src="images/house-in-mountains-photo.jpeg" alt="Домики на фоне гор." width="800" height="384">
            </li>
            <li class="advantages-item-staying">
              <img class="advantages-item-icon" src="/images/icons/advantage-icon-home.svg" alt="Жильё." width="75" height="72">
              <h3 class="advantages-item-title">accommodation</h3>
              <p class="advantages-item-text advantages-item-text-staying">We recommend to live<br>in a real motel,<br>it's like in the movies!</p>
            </li>
            <li class="advantages-item-food">
              <img class="advantages-item-icon" src="/images/icons/advantage-icon-food.svg" alt="Еда." width="75" height="72">
              <h3 class="advantages-item-title">Food</h3>
              <p class="advantages-item-text advantages-item-text-food">Always order<br> the top signature burger, you won't be disappointed!</p>
            </li>
            <li class="advantages-item-souvenirs">
              <img class="advantages-item-icon" src="/images/icons/advantage-icon-souvenir.svg" alt="Сувениры." width="75" height="72">
              <h3 class="advantages-item-title">Souvenirs</h3>
              <p class="advantages-item-text advantages-item-text-souvenirs">Not only Chinese,<br> but real local production!</p>
            </li>
            <li class="advantages-item-devil-bridge">
              <div class="advantage-item-text-container">
              <h3 class="advantages-item-title advantages-item-title-bridge">There is<br>devil's bridge</h3>
              <p class="advantages-item-text">Yes, you can walk through it! If you dare, of course</p>
              </div>
              <img src="images/canyon-photo.jpeg" alt="Фотография каньона и гор." width="800" height="384">
            </li>
          </ul>
        </section>
        <section class="hotel-search" data-test="search">
          <div class="hotel-search-container">
          <h2 class="hotel-search-title">Interested?</h2>
          <p class="hotel-search-text">Enter your travel dates<br> and we will show you the best hotel deals in Sedona</p>
          <a class="hotel-search-link" href="#">Hotel search in Sedona</a>
        </div>
        </section>
        </div>
