  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
      <link rel="icon" href="/favicon.ico">
      <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ '/css/style.css' | url | safe }}">
    </head>
    <body>
      <header class="main-header" data-test="header">
        <nav class="navigation">
          <a class="navigation-logo" href="/index">
            <img src="/images/logo-sedona.svg" alt="Логотип города Седона." width="140" height="70">
          </a>
          <ul class="navigation-list">
            <li class="navigation-item">
              <a class="navigation-link navigation-link-current" href="/index" >Main</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="/about" >About Sedona</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="/catalog" >Hotels</a>
            </li>
          </ul>
          <ul class="navigation-list navigation-user">
            <li class="navigation-item">
              <a class="navigation-link" href="/catalog">
                <svg class="navigation-link-icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="m19.5 18-3.7-3.67c1-1.3 1.7-2.98 1.7-4.87a8 8 0 0 0-8-7.96c-4.4 0-8 3.68-8 8.06a8 8 0 0 0 12.9 6.26l3.7 3.68 1.4-1.5Zm-10-2.48a6 6 0 0 1-6-5.96 6 6 0 0 1 12 0 6 6 0 0 1-6 5.96Z" fill="#000"/>
                </svg>
                <span class="visually-hidden">Search</span>
              </a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link navigation-link-like" href="/catalog">
                <span class="visually-hidden">Favorites</span>
                <svg class="navigation-link-icon navigation-link-icon-like" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.9 19a.9.9 0 0 1-.8-.4c-5.4-6.1-6.7-7.5-7-7.9A5.4 5.4 0 0 1 6.5 2C7.8 2 9 2.5 10 3.3a5.46 5.46 0 0 1 9 4.1c0 1.3-.5 2.5-1.3 3.4l-7 7.9c-.2.2-.4.3-.8.3Zm-6-9.5c.3.4 3.5 4 6.1 6.9l6.2-7c.5-.5.7-1.2.7-2 0-1.8-1.5-3.3-3.3-3.3-1 0-2 .5-2.7 1.3-.3.3-.6.4-.9.4-.3 0-.6-.2-.8-.4-.7-.8-1.7-1.3-2.7-1.3-1.8 0-3.3 1.5-3.3 3.3-.1.9.3 1.6.7 2.1-.1 0-.1 0 0 0Z" fill="#000"/>
                </svg>
                <span class="visually-hidden">12</span>
                <span class="navigation-link-like-counter"></span>
              </a>
            </li>
            <li  class="navigation-item-button">
              <a class="navigation-link-want" href="#" >I want to go!</a>
            </li>
          </ul>
        </nav>
      </header>
