<li class="hotel-card">
  <a href="{{hotel.url}}"><img class="hotel-card-image" src="{{hotel.data.image}}" alt="{{hotel.data.imageAlt}}" width="300" height="212"></a>
  <div class="hotels-features">
    <h3 class="hotel-card-title"><a href="{{hotel.url}}">{{hotel.data.title}}</a></h3>
    <p class="hotel-card-type">Hotel</p>
    <p class="hotel-card-price">From {{hotel.data.price}} ₽</p>
    <a class="btn button-info" href="{{hotel.url}}">more</a>
    <button class="btn button-bookmark" type="button">To favorites</button>
    <p class="hotel-card-rating-stars hotel-card-rating-stars-four">
      <span class="visually-hidden">4 stars</span>
    </p>
    <p class="hotel-card-rating-numbers">Rating: {{hotel.data.rating}}</p>
  </div>
</li>
