<div class="subscription-container subscription-container-close">
        <div class="subscription-modal subscription-auth">
          <button class="subscription-modal-close-button" type="button">
            <span class="visually-hidden">Close</span>
          </button>
          <section class="subscription-modal-content">
            <h2 class="subscription-modal-title">Your e-mail was added to newsletter</h2>
            <img src="/images/icons/green-tick.webp" alt="succesful subscription">
            <button class="subscription-ok-button">OK</button>
          </section>
        </div>
      </div>
