
.footer-contact-phone {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-address-phone {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
}

.footer-contacts-address-phone:hover {
  text-decoration: none;
  color: #756157;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
}

.footer-contacts-address-phone:focus {
  text-decoration: none;
  color: #756157;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
}

.footer-contacts-address-phone:active {
  text-decoration: none;
  color: #7561574d;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
}
