.advantages-about-sedona {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  min-height: auto;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 69px;
}

.advantages-sedona-reasons {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  min-width: 650px;
  max-height: auto;
  padding-bottom: 90px;
  margin: 0 auto;
}

.sedona-advantages-text {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.sedona-advantages-text-about {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('./images/about-image.avif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-item-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 92px 85px 111px 85px;
}

.advantage-item-text-container-place,
.advantage-item-text-container-road,
.advantage-item-text-container-tourists {
  padding: 103px 85px 121px 85px;
}

.advantages-item-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 175px;
  margin: 0;
  margin-bottom: 30px;
  order: 1;
}

.advantages-item-title-town::after {
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  left: 33%;
  bottom: -28px;
  order: 2;
}

.advantages-item-title-road::after {
  position: absolute;
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  left: 33%;
  bottom: -32px;
  content: "";
  order: 2;
}

.advantages-item-title-place::after {
  position: absolute;
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  left: 33%;
  bottom: -32px;
  content: "";
  order: 2;
}

.advantages-item-title-tourists::after {
  position: absolute;
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  left: 33%;
  bottom: -32px;
  content: "";
  order: 2;
}

.advantages-item-title-bridge::after {
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  left: 33%;
  bottom: -28px;
  order: 2;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  max-width: 230px;
  margin: 0;
  margin-top: 30px;
  order: 3;
}

.advantages-item-text-staying,
.advantages-item-text-food,
.advantages-item-text-souvenirs {
  margin: 0;
}

.advantages-item-real-town {
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
  display: flex;
}

.advantages-item-real-town .advantages-item-text {
  color: #ffffff;
}

.advantages-item-small-place {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-beatiful-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-less-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-devil-bridge {
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item-devil-bridge .advantages-item-text {
  color: #ffffff;
}

.advantages-item-staying {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-food {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-souvenirs {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  align-items: center;
  justify-content: center;
}

.advantages-item-icon {
  margin-bottom: 24px;
}
