.hero {
  background-image: url("../images/index-background.jpeg");
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% 485px;
  margin: 0 auto;
  width: 1200px;
  height: 485px;
}

.hero-sedona-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-right: 371px;
  padding-left: 371px;
  padding-bottom: 25px;
}
