.footer-logo {
  width: 115px;
  height: 33px;
  align-self: center;
}

.footer-logo-icon:hover {
  fill: #756157;
}

.footer-logo-icon:focus {
  fill: #756157;
}

.footer-logo-icon:active {
  fill: #7561574d;
}
