.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.catalog-main {
  background-color: #ffffff;
  color: #000000;
}
